.transparent {
  opacity: 0;
}

input {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 3px;
  outline: none;
}

input.error {
  border-color: red;
}

input:not(.error) {
  transition: border-color ease-in-out 0.15s 1.5s;
}

input.filter {
  margin-left: 30px;
}

text {
  fill: #666;
}

tspan {
  fill: #666;
}

.index-mode-buttons {
  float: left;
  margin-top: 1px;
}

.index-mode-buttons > button {
  border-radius: 4px;
  border: 1px solid 888;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  outline: none;
  height: 21px;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.index-mode-buttons > button:hover {
  background-image: none;
  background-color: #e6e6e6;
}

.index-mode-buttons > button.selected {
  color: #fff;
  background-color: #49afcd;
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4)
}

.index-mode-buttons > button.selected:hover {
  background-image: none;
  background-color: #2f96b4;
}

svg {
  background-color: #eee;
  margin-top: 16px;
}

.code-text {
  font-family: consolas, courier new, monospace;
  font-size: 14px;
}

.plot-axis {
  fill: #666;
}

.plot-axis > .axis-numbers > tspan.axis-number {
  font-size: 10px;
}

.plot-axis > .axis-numbers > tspan.axis-number.selected {
  font-size: 14px;
}

.plot-body > .code-lines {
  pointer-events: none;
}

.plot-body > .code-lines > tspan.code-line {
  font-size: 9px;
  font-family: consolas, courier new, monospace;
}

[data-code-line-number="0"] {
  display: none;
}

.bar-selectors > .bar-selector {
  opacity: 0;
}

.bar-selectors > .bar-selector.selected {
  opacity: 0.2;
}

.plot-body > .flow-points > .flow-point {
  fill: #5bc0de;
}

.plot-body > .flow-points > .flow-point.has-side-effect {
  fill: limegreen;
}

.code-text > tspan.code-text-line.selected {
  fill: #49afcd;
}

pre, p.browser-disclaimer {
  position: absolute;
  margin-left: 620px;
  margin-top: 200px;
  height: 20px;
  color: #666;
}

pre.side-effect {
  margin-left: 640px;
  margin-top: 220px;
}

p.browser-disclaimer {
  position: absolute;
  margin-top: 300px;
}
